* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
}

header h4 {
  position: absolute;
  left: 8%;
  bottom: 0rem;
  font-size: 1.6rem;
  color: #ffffff;
}

h5 {
    position: relative;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 2rem;
}

/* Company name splash, made with help from https://www.youtube.com/watch?v=2ak37WrbSDg */

.intro {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ad0712; 
  transition: 1.5s;
}

.welcome-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.letter {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 4rem;
}

.letter.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.letter.fade {
  bottom: 50px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* Added background color to the top navigation */
.topnav {
  background-color: #ad0712; 
  overflow: hidden;
  position: fixed;
  margin-right: 10%;
  padding-right: 5%;
  top: 0px;
  width: 100%;
  z-index: 1;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  right: 8%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#pic {
  height: 120%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries for different screen sizes */

@media screen and (max-width: 768px) {
  .letter {
    font-size: 1.4rem;
  }
  #pic {
    height: 115%;
  }
}

@media screen and (max-width: 1000px) {
  .letter {
    font-size: 2rem;
  }
  #pic {
    height: 115%;
  }
}